#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding-top: 1.5%;
    padding-bottom: 3%;
    padding-right:12%;
    padding-left: 12%;
}
h1  {
    font-family:Montserrat;
    font-size: 65px;
}
body{
    font-family:Montserrat;
}
.navbar{
    font-size: 18px;
    padding-bottom: 70px;
}
.navbar-brand{
    font-size: 45px;
    font-family: ubuntu;
}
#navbarScroll{
    padding-left: 0px;
    position: absolute;
    right: 30px;
    font-size: 20px;
}
.nav-item{
    padding: 15px;
}
.downbut{
    margin-top: 30px;
}

.img1{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    top: 14rem;
}
#features{
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 7%;
    text-align: center;
}
.fetrow{
    padding: 3%;
}
h3{
    font-family: "Montserrat";
    font-size: 35px;
    padding: 2%;
}
h2{
    font-family: "montserrat";
    line-height: 25px;
    line-height: 2;
}
p{
    color: #8f8f8f;
    font-size: 20px;
}
.icon:hover{
    color: #ff4c68;
}
.icon{
    padding: 3%;
    color: #ef8172;
}
#testimonials{
    text-align: center;
    padding: 4% 12%;
    background-color: #ef8172;
    font-size: 37px;
}
.img2{
    width: 17%;
    margin: 20px;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.img3{
    width: 15%;
    margin: 15px;
}
.carousel-item{
    padding: 4% 17%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 5% 2%;
}
.btn-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.dev{
    padding-bottom: 3rem;
}
.download-button{
    padding: 4% 32%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 12%;
    color:#fff
}
#footer{
    text-align: center;
    padding: 7% 7%;
}
@media(max-width:1028px){
    .img1{
        position: static;
        top: 84px;
        transform: rotate(0);
        width: 250px;
        padding-top: 25px;
    }
    #title{
        text-align: center;
    }
}
.dec{
    margin: 20px 10px;
    font-size: 25px;
}